<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ log4j2.xml
  ~
  ~ Copyright (c) 2013 Martin Burkhard and Sonja Maier.
  ~ CSCM Cooperation Systems Center Munich, Institute for Software Technology.
  ~ Bundeswehr University Munich. All rights reserved.
  ~
  ~ This program is made available under the terms of the
  ~ Eclipse Public License v1.0 which accompanies this distribution,
  ~ and is available at <http://www.eclipse.org/legal/epl-v10.html>.
  ~
  ~ The accompanying materials are made available under the terms
  ~ of Creative Commons Attribution-ShareAlike 3.0 Unported License.
  ~ You should have received a copy of the license along with this
  ~ work.  If not, see <http://creativecommons.org/licenses/by-sa/3.0/>.
  ~
  ~  Project: FishificationFX
  ~   Author: Martin Burkhard
  ~     Date: 9/2/13 12:48 AM
  -->

<configuration status="trace" name="FishificationFx" packages="org.sociotech">
    <appenders>
        <FastRollingFile name="FastRollingFile" fileName="logs/fishification.log"
                         filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p %m %ex%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </FastRollingFile>
    </appenders>
    <appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>%d %p %m %ex%n</pattern>
            </PatternLayout>
        </Console>
    </appenders>
    <loggers>
        <root level="trace">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FastRollingFile"/>
        </root>
    </loggers>
</configuration>